{% extends "AppEcommerce/base.html" %}

{% load static %}

   {% block slider %}

       <div class="row mt-5">

        <div class="col-sm-3"></div>
        
        <div class="col-sm-6">         

            <div class="col-sm-12 d-flex justify-content-center">
                <h1>Sobre Nosotros</h1>
            </div>

            <hr>

            <div class="row mb-3">

                <div class="col-sm-12 mb-3">
                    <h3>Lucas De Gaetano</h3>
                </div>

                <div class="col-sm-4">                    
                    <img src="{% static 'AppEcommerce\images\LucasDeGaetano.jpeg' %}" class="img-rounded" alt="Lucas De Gaetano" width="300" height="300">
                </div>

                <div class="col-sm-8">

                    
                    Soy Lucas De Gaetano, tengo 18 años, soy aficionado de la electronica y queria experimentar la programacion en un lenguaje que no sea c. Estudio en la escuela tecnica San Vicente de Paul y me meti  en este curso porque vi que python era un lenguaje muy usado.

                </div>

            </div>

            <br>
            <br>
            <hr>

            <div class="row mb-5">

                <div class="col-sm-12 mb-3 mt-5">
                    <h3>Tomás De Gaetano</h3>
                </div>

                <div class="col-sm-4">                    
                    <img src="{% static 'AppEcommerce\images\TomásDeGaetano.jpeg' %}" class="img-rounded" alt="Lucas De Gaetano" width="300" height="300">
                </div>

                <div class="col-sm-8">

                    
                    Soy Tomás De Gaetano y tengo 15 años, me encanta la pintura y me gusta el futbol. Unos de mis pasatiempos es realizar cuadros y actualmente estudio para poder aprender enmarcado de cuadros. Estudio en la escuela tecnica San Vicente De Paul y entre en el curso porque queria aprender sobre programación
                    y la creacion de sitios web.
                </div>

            </div>


            <br>
            <br>
            <hr>

            <div class="row mb-5">

                <div class="col-sm-12 mb-3 mt-5">
                    <h3>Sobre el proyecto</h3>
                </div>
                 
                <div class="col-sm-12">

                    
                   El proyecto trata sobre un e-commerce especializado en la venta de zapatillas, posee un menú desde el cual podrás  realizar busquedas de productos especificios,
                   podrás registrarte y logearte en el sitio web. Una vez logeado, podrás crear productos con su respectiva imagen, nombre, marca, descripción y precio, y luego publicarlo.
                   Los productos los podrás ver en las distintas categorias, con sus respectivos detalles.
                   Luego hay un lugar para poder contactarte con nosotros por algun problema que te haya surguido y una sección en el inicio en la que podrás dejar tu email para poder recibir
                   noticias o descuentos sobre algún producto.
                </div>

            </div>

        </div>


        
        <div class="col-sm-3"></div>

    </div>      


    


   {% endblock %}